---
layout: default
title: 'Tidy Swan | Content, Copy and Much More'
published: true
---

<div class="home" id="home">
  <h1 class="pageTitle">This is the page headline</h1>
  <h2>Specialist in microcopy</h2>
<p>Sugar plum dragée toffee sweet roll fruitcake. Tiramisu tiramisu jujubes. Soufflé marzipan chocolate cotton candy toffee lollipop liquorice ice cream ice cream.</p>
  <h2>I also do strategy, creative stuff and data</h2>
<p>Sugar plum dragée toffee sweet roll fruitcake. Tiramisu tiramisu jujubes. Soufflé marzipan chocolate cotton candy toffee lollipop liquorice ice cream ice cream.</p>
<h2>Beer for an idea</h2>
<p>Wafer chocolate cake icing carrot cake tart. Lemon drops croissant apple pie. Jelly-o candy cheesecake toffee cake lemon drops cake.</p>
<h3>Some bous stuff</h3>
<p>Freebie downloads, or <a href="#">paid for things</a> I've made</p>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
