---
layout: default
title: 'Tidy Swan | Content, Copy and Much More'
published: true
---

<div class="home" id="home">
  <h1 class="pageTitle">Content, just the way you like it</h1>
  
  <p class="intro">This is a pretty ace introduction</p>
  <h2>Specialist in microcopy</h2>
  <p>Good copywriting is good. Here is <a href="/headline-copy">my page</a> about it.</p>
  <h3>Copy Right Now</h3>
<p>Need copy in a hurry? Yeah, <a href="/copy-right-now">I can do that</a>.</p>
  <a href="/copy-right-now">
  <img src="/assets/img/copy-right-now.png" alt="Beers for Ideas">
</a>
  <h2>I also do creative stuff, structure and data</h2>
<p>Links to those pages are here, here and here.</p>
<h3>Beers for Ideas</h3>
<p>You buy me beer, I'll send you a great idea. Seems like, <a href="/beers-for-ideas">a fair trade</a> don't you think?</p>
<a href="/beers-for-ideas">
  <img src="/assets/img/beers-for-ideas.png" alt="Beers for Ideas">
</a>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
